body {
  background-color: lightblue;
  display: grid;
  grid-template-rows: [top] auto [middle-top] 75% [middle-bottom] auto [bottom];
  grid-template-columns: [left] auto [middle-left] 75% [middle-right] auto [right]; }
  body header {
    grid-row: top;
    grid-column: left/right;
    display: grid;
    grid-template-rows: 4fr minmax(1fr, auto);
    grid-template-columns: repeat(2, 1fr); }
    body header .site-name {
      text-align: center;
      grid-row: 1;
      grid-column: 1;
      font-size: 5em; }
  body main {
    grid-row: middle-top/middle-bottom;
    grid-column: middle-left/middle-right; }
  body footer {
    grid-row: middle-bottom;
    grid-column: left/right;
    display: grid;
    grid-template-rows: [top] auto [middle-top] 75% [middle-bottom] auto [bottom];
    grid-template-columns: [left] auto [middle-left] 75% [middle-right] auto [right]; }
    body footer .social {
      grid-row: middle-bottom;
      grid-column: middle-right; }
