@import 'colors';
@import 'vars';

@import 'layoutstyles/header';
@import 'layoutstyles/footer';

body{

	background-color: $color-primary-1;
	display: grid;
	grid-template-rows: $standard-rows;
	grid-template-columns: $standard-columns;

	main{
		grid-row: middle-top/middle-bottom;
		grid-column: middle-left/middle-right;

		background-color: $color-white-transparent;
		margin-top: 20px;
		padding:20px;
		border-radius: 10px;
		border: 3px solid $color-primary-2;

		a{
			color: $color-secondary-1-4;
			text-decoration: none;
		}
	}	
}